.navbar {
  background-color: #ffffff;
  height: 60px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  border-bottom: 1px solid lightgray;
  position: fixed;
}
.navbar > button {
  display: none;
}
.navbar #hidden {
  display: flex;
  margin-left: 28px;
}
@media screen and (max-width: 919px) {
  .navbar > .right {
    width: 70%;
    margin-right: 100px;
  }
  .navbar > .left > .search > input {
    width: 60%;
    margin-right: 100px;
  }
  .navbar {
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 990px) {
  .navbar > .right {
    padding-right: 40px;
  }
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 20px;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notif {
  text-decoration: none;
  color: #a5aaad;
  font-size: 25px;
  box-shadow: 2px 1px 5px #a5aaad, -2px -2px 5px #ffffff;
  border-radius: 50%;
  padding: 1px;
}
.search > input {
  border-radius: 20px;
  height: 30px;
  width: 150%;
  margin-left: 100px;
  text-align: center;
  border: none;
  box-shadow: 2px 1px 5px #a5aaad, -2px -2px 5px #ffffff;
}

.navbar > .left > ul li {
  display: inline;
  margin-right: 90px;
  color: #a5aaad;
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-family: "Dancing Script", cursive;
  color: #ffffff;
  margin-bottom: 25px;
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
.logo > p {
  color: #ffc107;
  font-family: "Dancing Script", cursive;
}
.nav-menu {
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 2s;
  padding-top: 20px;

  /*  */
}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  transition: 0.8s;
}
.nav-text a {
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
  width: 95%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  transition: 0.5s;
}
.nav-text a:hover {
  background-color: rgba(83, 196, 145, 0.1);
  padding: 10px;
  color: #a5aaad;
}
.nav-menu-items {
  width: 100%;
}

span {
  margin-left: 10px;
}
:root {
  --blue: rgb(6, 40, 71);
  --white: rgb(194, 48, 48);
}

.nav-menu.active {
  font-family: "Ubuntu", sans-serif;
  background: var(--background-color);
  font-weight: var(--font-weight);
  transition: color 0.6s ease-in-out;
  left: 0;
  transition: 0.8s;
}

body.light {
  --background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;
}

body.dark {
  --background-color: var(--blue);
  --text-color: var(--white);
  --font-weight: 500;
}
